// Page sizes
$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 767px;
$bpPhone: 480px;

// Common colors
//$pageColor: #212121; // Beta version
$pageColor: #27282d;
$brightPageColor: #4c5a82;
$fontColor: #efefef;
$footerColor: #1b1b1b;

// Font
$baseFont: 'Lato', sans-serif;
$highlightBackground: rgba(255, 255, 255, 0.2);

//$darkColor: #2f3254;
//
//$blueColor: #a6abbd;
//$blueColorHover: #c0c4d0;
//$blueColorActive: #69718e;
//
//$yellowColor: #feef88;
//$orangeColor: #ff8b74;
//
//$warningColor: #ff637f;
//$darkGreenColor: #2e7d61;
//$greenColor: #8ed2a1;
//
//$blackColor: #0b0b0b;
//$blackColorHover: #2f2f2f;
//$blackColorActive: #000000;
